

/* VERTICAL MENU TEMPLATE */

/*.menu ul{
    list-style-type: none;
    background-color: #f1f1f1;
    width: 100px;
}

.menu li a {
    display: block;
    width: 60px;
    color: black;
    padding-right: 16px;
    padding-top: 16px;
    padding-bottom: 16px;
    text-align: center;
}

.menu li a:hover{
    background-color: #555;
    color: white;
} */

/* HORIZONTAL MENU TEMPLATE

/*.menu ul{
    list-style-type: none;
    background-color: black;
    overflow: hidden;
}

.menu li a {
    float:left;
}

.menu li a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.menu li a:hover{
    background-color: darkgrey;
} */