@import url('https://fonts.googleapis.com/css2?family=Rubik+Maps&display=swap');

*{
    margin: 0;
    padding: 0;
    background-color: rgb(33, 17, 73);
}

/* VERTICAL MENU TEMPLATE */

/*.menu ul{
    list-style-type: none;
    background-color: #f1f1f1;
    width: 100px;
}

.menu li a {
    display: block;
    width: 60px;
    color: black;
    padding-right: 16px;
    padding-top: 16px;
    padding-bottom: 16px;
    text-align: center;
}

.menu li a:hover{
    background-color: #555;
    color: white;
} */

/* HORIZONTAL MENU TEMPLATE

/*.menu ul{
    list-style-type: none;
    background-color: black;
    overflow: hidden;
}

.menu li a {
    float:left;
}

.menu li a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.menu li a:hover{
    background-color: darkgrey;
} */

h1{
    text-align: center;
    font-size: 450%;
    margin-left: auto;
    margin-right: auto;
}

audio{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.image1{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 90%;
    width: 90%;
}

p{
    display: block;
    background-color: mediumpurple;
    font-size: 200%;
    padding: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

h2{
    text-align: center;
    font-size: 250%;
}

button{
    border: none;
    background-color: mediumpurple;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.image2{
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    height: 150px;
    width: 150px;
}